/**
 * @file
 * Customization for Institue for Energy Studies
 *
 */

 @import "base";
 @import "compass";
 @import "zen";

 $box-sizing-polyfill-path: "/sites/all/themes/wwuzen/js/boxsizing.htc";

 $zen-column-count:  12;
 $zen-gutter-width:  24px;

.page-title {
	margin: 0.75em;
	margin-bottom: 1.5em;

	h1 {
		font-size: 1.75em;
		line-height: 1.28;
		margin: 0;
		padding-bottom: 0.167em;
	}
}

.clean-energy-bottom-row .clean-energy-bottom-left-column {
	margin-top: 0;
	padding: 0 0.75em;
}

.clean-energy-bottom-row .clean-energy-bottom-right-column {
	margin-top: 0;
	padding: 0 0.75em;
}

// clean energy top row

.clean-energy-top-row {
	margin-bottom: 2em;
}

// some basic chanegs to common tags

h1, h2 {
	color: $wwuOceanBlue;
}

.content {
	h2 {
		font-size: 1.5em;
		line-height: 1;
		margin: 0;
		margin-bottom: 1em;
	}

	p,
	blockquote {
		margin-bottom: 1.622em;
	}

	p:last-child {
		margin: 0;
	}
}

a {
	color: $wwuRed;
}

.menu__link.menu-link-icon.active::before {
  color: $wwuBlue;
}

table {
  .odd {
    a {
      color: $wwuBlue;
    }
  }
}

// red box with white text, used on front page (or elsewhere)

.pane-department-directory-panel-pane-3 {
	background-color: #fff;
}

.red_box {
	background-color: $wwuRed;
	color: white;
	font-style: italic;
	padding: 1.5em;
}

// tweaks to front page slideshow

#front_page_slideshow {
	.flex-caption {
		display: none;
	}
}

// Bottom row left column
.clean-energy-bottom-row .clean-energy-bottom-left-column > div {
	padding: 1.5em;
	background-color: #eee;
}

// background

@media screen and (min-width:800px) {
  body {
    background-image: url('../images/background-ies.png');
    background-position: center top;
    background-repeat: no-repeat;

  }
}

// front page video stylings

.fp-video-left,
.fp-video-right {
	margin-bottom: 1.5em;
}

.fp-video-right {
	background-color: $wwuOceanBlue;
	display: inline;
	float: right;
}

.fp-video-left {
	background-color: $wwuOceanBlue;
	display: inline;
	float:left;
}


// front panel, 'spotlight' rotating quote panel

.fp-spotlight {
	background-color: white;
	padding: 1.5em;

	img {
		float: right;
		margin: 0;
		margin-top: -2.75em;
		margin-left: 1.5em;
		margin-bottom: 1.5em;
		background-color: #cc2d30;
		padding: 2px;
		border: 0.625em #ddd solid;
	}
}

/**
* Fix for IE9 where the about title sucks into the space between videos.
*/
.about-pane {
  @include zen-clear(left);
}

/**
* Testimonial box
*/

.testimonial-box
{
  font-size: 0.95em;
  padding: 0.8em;
  background-color: #ffffff;
}

/**
* Override the base theme jQuery accordion link colors .
*/

.accordion-row .ui-accordion-content a {
  color:$wwuRed;
  display:inline;
  padding-left:0;
}

/**
* Override the left footer default styling as we do not use it for the site name.
*/
.footer-left p:first-child {
  font-size:100%;
  text-transform:none;
  line-height:1
}

/***
*
* Media Page stylings https://energy.wwu.edu/media
*
***/


.media-video-feature {        // top video player
  margin: auto;
  display: inline;
  padding: 5px;
}

/***
* Media Player Grid Setup
***/

/**
* 800px wide media query. 2 columns repeating.
**/

@media all and (max-width: 540px) {
  .resp-grid {
    @include zen-nested-container();      // zen within zen
    $zen-column-count: 1;           // make sure this agrees with the view's responsive grid setting
  }

  .views-column-1, .views-column-2, .views-column-3, .views-column-4 {
    @include zen-grid-item(1,1);
    @include zen-clear(left);
  }

}


/**
* 800px wide media query. 2 columns repeating.
**/

@media all and (min-width:541px) and (max-width: 800px) {
  .resp-grid {
      @include zen-nested-container();      // zen within zen
      $zen-column-count: 2;           // make sure this agrees with the view's responsive grid setting
    }

    .views-column-1 { @include zen-grid-item(1,1);  }
    .views-column-2 {
      @include zen-grid-item(1,2);
      @include zen-clear(right);
    }
    .views-column-3 {
      @include zen-grid-item(1,1);
      @include zen-clear(left);
    }
    .views-column-4 {
      @include zen-grid-item(1,2);
    }

  }


/**
* 1080px wide media query. 3 columns repeating.
**/

@media all and (min-width:801px) and (max-width: 1080px) {
  .resp-grid {
      @include zen-nested-container();      // zen within zen
      $zen-column-count: 3;           // make sure this agrees with the view's responsive grid setting
    }

    .views-column-1 { @include zen-grid-item(1,1);  }
    .views-column-2 { @include zen-grid-item(1,2);  }
    .views-column-3 {
      @include zen-grid-item(1,3);
      @include zen-clear(right);
    }
    .views-column-4 {
      @include zen-grid-item(1,1);
      @include zen-clear(left);
    }

  }

  @media all and (min-width: 1081px) {
    .resp-grid {
      @include zen-nested-container();      // zen within zen
      $zen-column-count: 4;           // make sure this agrees with the view's responsive grid setting
      $zen-gutter-width: $base-line-height;   // inter-cell gap
    }

    .views-column-1 { @include zen-grid-item(1,1);  }
    .views-column-2 { @include zen-grid-item(1,2);  }
    .views-column-3 { @include zen-grid-item(1,3);  }
    .views-column-4 { @include zen-grid-item(1,4);  }

  }

.node-title { display:none; }               // hide slideshow title

.resp-column { padding-bottom: $base-line-height; }   // additional bottom inter-cell gap

.resp-column-first {  @include zen-clear(left); }
